#d1 {
    position: absolute;
    width: 15vw;
    height: 10vh;
    background-color: blue;
    bottom: 1em;
    animation: increase 3s steps(100) infinite;
}

img {
    width: 7vw;
}

@keyframes increase {
    from {
        height: 10vh;
    }
    to {
        height: 20vh;
    }
}